.toasts {
    position: fixed;
    bottom: 24px;
    left: 24px;
    display: flex;
    flex-direction: column-reverse;
    gap: 12px;
}

.toast-anchor {
    height: 2rem;
}

[popover].toast {
    position: fixed;
    inset: auto;

    bottom: anchor(bottom);
    left: anchor(left);

    box-shadow:
        0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);

    font-weight: bold;

    transition:
        opacity 0.4s ease,
        transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        display 0.4s allow-discrete,
        overlay 0.4s allow-discrete;
    opacity: 0;
    transform: translateY(20px);
}

[popover]:popover-open {
    opacity: 1;
    transform: translateY(0);
}

@starting-style {
    [popover]:popover-open {
        opacity: 0;
        transform: translateY(20px);
    }
}
